



.containerCi {
  
  background-color: #ffffff71;
  width: 140px;
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  
  color: #120907;
  border-radius: 10px;
  margin: 25px;
  display: flex;
  flex-direction: row;

}

.button {
  background-color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: black;
  color: white;
}


.name {
  width: 100px;
  font-size: 15px;
  font-weight: 700;
  color: #120907;
  font-family: Cairo Play;
  
  line-height: 15px;
  
  margin-bottom: 80px;
  position: absolute;
  margin-right: 50px;
  text-transform: uppercase;
  margin-left: 40px;
}



.min,
.max {
  height: 20px;
  display: flex;
}
.min,
.max p{
 font-size: 13px;
}

.label {
  margin-top: 20px;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  margin-top: 30px;
  width: 70px;
  height: auto;
  justify-self: center;
  
}






  
