.backgroundA{
    background: linear-gradient(to top left, #9bf0fc, #5390D9);
    margin: 0;
    padding: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
     
    
}


.text{
    position: absolute;
    margin-left: 100px;
    color: rgb(255, 255, 255);
    font-family: Cairo Play;
    line-height: 20px;
    
    
}

.titleA{
    font-family: Cairo Play;
    margin: 0;
    margin-left: 750px;
    padding: 0;
    font-size: 50px;
    color: aliceblue;
  
}

.containerAA{
   
    display: flex;
    flex-wrap: wrap;
   
    flex-direction:row;
    
 
}


.containerA{  
    
    text-align: center;
    height: 200px;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    margin-top: 150px;
    margin-left: 200px;
    background-color: #5390D9;
    flex-direction:row;  
}

.containerA p{
    width: 170px;
    height: 20px;
    text-align: center;
    line-height: 10px;
    margin: 15px;
    margin-left: 40px;
    font-family: Cairo Play;
    font-weight: 600;
}




.buttonA{
    font-family: Cairo Play;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    border-radius: 40px;
    border: 2px solid #3170bd;
    color: rgb(234, 242, 248);
    text-transform: uppercase;
    font-weight: 500;
    background-color: #3e7ac3;
    text-decoration: none;
    padding: 5px 10px;
    margin:10px;
}


