.backgroundForm {
  background: linear-gradient(to top left, #9bf0fc, #5390d9);
  margin: 0;
  padding: 0;
  height: 120vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  display: list-item;
  position: relative;
  margin-top: 10px;
  margin-left: 35%;
  width: 500px;
  height: 690px;
  border-radius: 50px;
  background: #fff;
  box-shadow: 24px 24px 48px rgba(174, 210, 236, 0.4),
    inset 12px 12x 24px #e7f2f9, inset -24px -24px 48px #b8d8ee;
}

.container h1 {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  color: #3e90d0;
  padding-top: 50px;
  text-transform: none;
  text-decoration: none;
}

.container input {
  font-family: Cairo Play;
  color: rgb(0, 0, 0);
  padding: 15px 20px;
  outline: none;
  background-color: #ffffff;
  border-radius: 40px;
  line-height: 20px;
  margin-bottom: 40px;
  border-color: #3e90d0;
  border-width: 2px;
  font-size: 16px;
  font-weight: 400px;
}

.container select {
  font-family: Cairo Play;
  padding: 12px 20px;
  outline: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 40px;
  line-height: 20px;
  margin-bottom: 40px;
  border-color: #3e90d0;
  border-width: 2px;
  font-size: 16px;
  font-weight: 400px;
}

.btn {
  position: static;
  font-family: Cairo Play;
  margin-left: 10%;
  text-transform: uppercase;
  background-color: #3e90d0;
  border-radius: 40px;
  text-align: center;
  width: 100px;
  color: #fff;
  border-color: #3e90d0;
  transition: 0.2s ease-out;
  margin-top: 80px;
  font-size: 20px;
  width: auto;
  line-height: 40px;
  padding: 10px 30px;
}

.btn:hover {
  cursor: pointer;
}
.btn1 {
  font-family: Cairo Play;
  margin-top: 10px;
  margin-left: 30%;
  text-transform: uppercase;
  padding: 10px;
  background-color: #3e90d0;
  border-radius: 40px;
  text-align: center;
  width: 100px;
  color: #fff;
  border-color: #3e90d0;
  transition: 0.2s ease-out;
}

.btn1:hover {
  cursor: pointer;
}
.container label {
  font-size: 20px;
  font-family: Cairo Play;
  padding: 50px;
  margin-left: 40px;
}

.countries {
  margin-top: 20px;
  margin-left: 80px;
}

.country {
  font-family: Cairo Play;
  margin: 0px;
  background-color: #5b9dcf;
  gap: 5px;
  color: rgb(255, 255, 255);
  border-radius: 40px;
  padding: 10px;
  padding-left: 12px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

.countryC {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  gap: 30px;
  margin-left: 60px;
}

.delete {
  position: inline;
  background-color: #4082b4;
  font-family: "Yanone Kaffeesatz", sans-serif;
  border-radius: 40px;
  border-color: #245d88;
  height: 22px;
  width: 22px;
}

.delete:hover {
  background-color: #3e90d0;
  color: rgb(239, 239, 239);
}

.error {
  font-family: Cairo Play;
  position: absolute;
  font-size: 12px;
  margin-left: 240px;
  color: rgb(197, 5, 5);
  text-transform: uppercase;
  font-weight: 650;
  margin-top: 65px;
  line-height: 12px;
  padding-right: 50px;
}

.containerA {
  text-align: center;
  height: 160px;
  width: 190px;
  padding: 5px;
  border-radius: 20px;
  text-transform: uppercase;
  margin-left: 600px;
  background-color: #3e90d0;
  flex-direction: row;
  position: absolute;
  color: aliceblue;
  font-family: Cairo Play;
  border-color: #fff;
  border: solid 3px;
  font-size: 20px;
}

.containerA p {
  width: 170px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-family: Cairo Play;
  font-weight: 600;
  color: #ffffff;
  font-size: 15px;
}

.containerA h3 {
  line-height: 20px;
  margin-top: 0;
}

.containerAA {
  position: absolute;
  display: grid;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 250px;
  margin-left: 630px;
}

.buttonA {
  font-family: Cairo Play;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  border-radius: 40px;
  border: 3px solid #ffffff;
  color: rgb(234, 242, 248);
  text-transform: uppercase;
  font-weight: 500;
  background-color: #3684be;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0;
}

.containerAA {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
}

.containerAA > :nth-child(-n + 1) {
  grid-column: 1;
}

.containerAA > :nth-child(n + 6) {
  grid-column: 2;
}
