.container {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}

@media screen and (max-width: 930px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.countriesGrid{
    display: grid;
    grid-template-columns: repeat(3, 325px);
    gap: 120px;
    margin: 10px;
 
}