.navbar{
    background-color: #4985cf;
    display: flex;
    height: 50px;
    align-items: center;
}

.title{
    text-decoration: none;
   font-family: Cairo Play;
   font-size: 30px;
   margin: 30px;
   margin-right: 600px;
}

.buttons{
    font-family: Cairo Play;
    text-decoration: none;
    margin: 10px ;
    font-size: 14px;
    position: relative;
    padding: 5px 15px;
    border-radius: 7px;
    border: 2px solid #3d7cca;
    color: rgb(234, 242, 248);
    text-transform: uppercase;
    font-weight: 500;
    background-color: #5390D9;
   
}







