
.container {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    text-align: center;
    margin: 20px ;
    padding: 5px;
    border-radius: 7px;
    
}

.item{
    color: white;
    position: relative;
    margin: 3px;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgba(88, 88, 88, 0.589);
    text-transform: uppercase;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.34);
    color: #fff;
   
}