.landingPageBk {
  background: linear-gradient(to top left, #9bf0fc, #5390d9);
  margin: 0;
  padding: 0;
  display: flow-root;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.landingPageContainer {
  margin: 0;
  padding: 0;
  display: flow-root;

  height: 70vh;
}

.img {
  position: absolute;
  height: 400px;
  margin-left: 1000px;
  margin-top: 80px;
}

/* START INFO LANDING */
.containerInfo {
  max-width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 200px;
  margin-left: 300px;
  padding: 0%;
}
.buttonLink {
  position: relative;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px #72c1e6;
  font-size: 40px;

  font-weight: 700;
  letter-spacing: 2px;
  background-color: #6098dd;

  padding: 20px;

  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-left: 500px;
  margin-top: 100px;
  border: 5px solid rgb(255, 255, 255);
}
.title {
  line-height: 50px;
  font-family: Cairo Play;
  margin-top: 180px;
  margin-bottom: 50px;
  margin-left: 140px;
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.925);
}

.subTitle {
  position: absolute;
  margin-bottom: 5px;
  margin-top: 115px;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.89);
  font-family: Cairo Play;
  margin-left: 100px;
}

.text {
  line-height: 20px;
  margin-left: 180px;
  margin-top: 0%;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  letter-spacing: 1.5px;
  font-family: Cairo Play;
  font-size: 22px;
  padding: 0%;
}

.buttonLink:hover {
  cursor: pointer;
  transform: scale(1.3);
  background-color: #8dedfa;
}

.buttonLink:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}
