
.container {
    display: flex;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 5px;
    border-radius: 7px;
   
}

.img {
    position: absolute;
    height: 25px;
    width: 25px;
    margin-top: 2px;
    margin-left: 5px;
}

.item{
    text-decoration: none;
    font-size: 14px;
    position: relative;
    padding: 7px 15px;
    border-radius: 40px;
    border: 2px solid #3d7cca;
    color: rgb(234, 242, 248);
    text-transform: uppercase;
    font-weight: 600;
    background-color: #5390D9; 
}